* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* Efeito fade manipulado pelo JS */
#slide.fadeout {
    opacity: 0.1; /*ajuste */
}

#slide {
    transition: opacity 2s;
    /*ajuste junto com o JS */
    opacity: 1;
}

body {
    background-color: blue;
}