* {
    margin: 0;
    padding: 0;
    border: 0;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 10px 30px;
    background-color: #8d8181;
    border: 1px solid #000;
    border-radius: 25px;
    font-size: 1.2rem;
}

.carta {
    width: 250px;
    height: 350px;
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 10px;
    /*efeito 3d */
    box-shadow: rgba(0,0,0, 0.4) 0px 2px 4px;
    position: relative;
    /* position 
        fixed: fixa o elemento no documento
        relative: referencia para o absolute
        absolute : fixa o elemento com referencia ao relative
        
        Neste exemplo os elemnetos absolute vão se posicionar na classe carta e não na classe container ou no documento 
    */
}

.canto {
    position: absolute;
    font-size: 2rem;
    text-align: center;
}

#supEsq {
    top: 20px;
    left: 15px;
}

#infDir {
    bottom: 20px;
    right: 15px;
    transform: rotate(180deg);
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 6rem;
}